<%= erb :newclient %>
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Keywords</th>
	</tr>
<% @clients.each do |c| %>
	<tr>
		<td><a href="/clients/<%= c.id %>"><%= c.clientname %></a></td>
		<td><%= c.email %></td>
		<td><%= c.keywords %></td>
	</tr>
<% end %>
</table>